{% extends "inicio.html" %}

{% block contenido %}
<div class="well">
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Inicio</a>
        </li>
    </ol>
    Lo sentimos, no tiene permisos a esta seccion
</div>
{% endblock %}