{% extends "master.html" %}

{% block contenido %}

<div class="had-container">
    <div class="parallax-container logueo">
        <div class="parallax"><img src="https://alistapart.com/d/438/fig-6--background-blend-mode.jpg"></div>
        <div class="row"><br>
            <div class="col m8 s8 offset-m2 offset-s2 center">
                <h4 class="truncate bg-card-user">
                    <img src="https://cdn3.iconfinder.com/data/icons/happily-colored-snlogo/128/medium.png" alt=""
                        class="circle responsive-img">
                    <div class="row login">
                        <h4>Inicia sesión.</h4>
                        <form class="col s12" method="POST">
                            <!--{{f.as_p}}
                            {% csrf_token %}
                            -->
                            {% for field in f%}
                            <div class="row">
                                <div class="input-field col m12 s12">
                                    {{field.label_tag}}
                                    {{field}}
                                </div>
                            </div>
                            {% csrf_token %}

                            {%endfor%}
                            <div class="row">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Iniciar
                                    sesión!</button>
                            </div>
                        </form>
                    </div>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}