{% extends "master.html" %}

{% block contenido %}
<div class="container">
    <div class="col s7">
        <div class="row">
            <div class="input-field col s12">
                <form method="post">
                    <!--{{f.as_p}}
                    <br>
                    {% csrf_token %}
                    -->
                    {% for i in f%}
                    {{i.label_tag}}{{i}}
                    {% csrf_token %}
                    {% endfor %}
                    <button class="btn waves-effect waves-light" type="submit" value="Guardar" name="action">Guardar
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <a href="/clientes/" class="waves-effect waves-light btn">
        <i class="material-icons right">arrow_back</i>
        Volver al Listado de Clientes
    </a>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>

{% endblock %}<div class="well">
    <form method="post">
        {{i.errors}}
        {% for i in f%}
        {{i.label_tag}}{{i}}
        {% csrf_token %}
        {% endfor %}
        <br>
        <br>
        <input class="btn waves-effect waves-light" type="submit" value="GUARDAR">
    </form>
</div>