{% extends "master.html" %}

{% block contenido %}
<div class="container">
    <h3 class="center-align">Listado de Clientes
    </h3>
    <div style="position: relative; height: 70px;">
        <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block; right: 24px;">
            <a class="btn-floating btn-large red pulse">
                <i class="large material-icons">menu</i>
            </a>
            <ul>
                <li><a id="crearPersona" href="crear" class="btn-floating blue"><i class="material-icons">person_add</i></a></li>
                
            </ul>
        </div>
    </div>
    <table class="responsive-table centered striped">
        <thead>
            <tr>
                <!--<th></th>-->
                <th>Cedula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Género</th>
                <th>Carrera</th>
            </tr>
        </thead>
        <tbody>
            {% for datos in lista%}
            <tr>
                <!--<td>
                    <p>
                        <label>
                            <input class="with-gap" name="group1" type="checkbox" onclick="cargarUrl('{{datos.cedula}}')" />
                            <span>&nbsp;</span>
                        </label>
                    </p>
                </td>-->
                <td>{{datos.cedula}}</td>
                <td>{{datos.nombres}}</td>
                <td>{{datos.apellidos}}</td>
                <td>{{datos.genero}}</td>
                <td>{{datos.carrera}}</td>
                
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<br>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            direction: 'left'
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (document.getElementsByTagName('input') != ":checked") {
            document.getElementById("editarPersona").classList.add('disabled');
            document.getElementById("eliminarPersona").classList.add('disabled');
        } else {
            document.getElementById("editarPersona").classList.remove('disabled');
            document.getElementById("eliminarPersona").classList.remove('disabled');
        }
    });
    //let Checked = null;
    //The class name can vary
    //for (let CheckBox of document.getElementsByTagName('input')) {
    //    CheckBox.onclick = function () {
    //        if (Checked != null) {
    //          Checked.checked = false;
    //        Checked = CheckBox;
    //  }
    //Checked = CheckBox;
    //}
    //}
    var cargarUrl = function (id) {

        document.getElementById("editarPersona").classList.remove('disabled');
        document.getElementById("eliminarPersona").classList.remove('disabled');
        document.getElementById("editarPersona").href = "modificar?cedula=" + id;
        document.getElementById("eliminarPersona").href = "eliminar?cedula=" + id;
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>
<!--
{%load staticfiles%}
<img src="{%static 'img/2371427_0.jpg'%}">
-->
{% endblock%}