<br>
<footer class="page-footer grey lighten-2 grey-text">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="grey-text">Footer Content</h5>
                <p class="grey-text ">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="grey-text">Links</h5>
                <ul>
                    <li><a class="grey-text " href="#!">Link 1</a></li>
                    <li><a class="grey-text " href="#!">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container grey-text">
            © 2018 Copyright
            <a class="grey-text right" href="#!">More Links</a>
        </div>
    </div>
</footer>