<nav>
  <div class="nav-wrapper grey lighten-2 ">
    <a href="" class="brand-logo grey-text"><i class="material-icons">account_balance</i>UNIVERSIDAD NACIONAL DE LOJA</a>
    <ul class="right hide-on-med-and-down">
      <li><a href=""><i class="material-icons">search</i></a></li>
      <li><a href=""><i class="material-icons">view_module</i></a></li>
      <li><a href=""><i class="material-icons">refresh</i></a></li>

      {% if user.is_authenticated%}
      <li>
        <a class="blue-grey-text">
          Bienvenido <b>{{user.username}}</b>
        </a>
      <li><a class="red-text" href="{% url 'logoutPage'%}">Cerrar Sesión</a></li>

      </li>
      {% else %}
      <li><a class="blue-grey-text" href="{%url 'autenticar'%}">Iniciar sesion</a></li>
      {% endif %}

      <li><a href=""><i class="material-icons">more_vert</i></a></li>
    </ul>

  </div>
</nav>

{% if user.is_authenticated %}
<p> Bienvenido, <b>{{user.username}}</b>
  <a href="{% url 'logoutPage' %}">Cerrar Sesion</a></p>
{% endif %}

{% for msg in messages %}
<div class="card-panel teal lighten-1">
  {{msg.message}}
</div>
{% endfor %}
