{% extends "master.html" %}
{% block contenido %}
<div class="card">
    
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Bienvenidos esta es nuestra página de Inicio<i class="material-icons right">more_vert</i></span>
        <p><a href="login">Ingresar</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
</div>

{% endblock contenido %}