<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    {% load staticfiles %}
    <!-- Materialize -->
    <link rel="stylesheet" href="{% static 'materialize/css/mat.css' %}">

    <title>Cliente</title>
  </head>
  <body>
    <div class="container">
    {% include "header.html" %}
    {% block contenido %}


    {% endblock %}
    {% include "footer.html" %}

    
    </div>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Materialize JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{% static 'materialize/js/materialize.min.js' %}"></script>
  </body>
</html>