<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {%load staticfiles%}
    <link type="text/css" rel="stylesheet" href="{%static 'materialize/css/materialize.min.css'%}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{%static 'css/style.css'%}" media="screen,projection" />
    <script type="text/javascript" src="{%static 'materialize/js/materialize.min.js'%}"></script>

</head>

<body>
    {%include "header.html"%}

    {%block contenido%}


    {%endblock%}


    {%include "footer.html"%}
</body>

</html>